@use "../../Settings/scss/functions.scss";
.user-profile{
    text-align: center;
}
.userprofile-title-box{
    text-align: center;
}
.userprofile-title-box h2{
    font-size: 33px;
    letter-spacing: 1px;
}
.profile-settings-delete-elements{
    margin-top: 1rem;
}
.profile-settings-delete-elements button:first-child{
    margin-right: 1rem;
}