@use "../../Settings/scss/functions.scss";
.user-profile{
    text-align: center;
}
.userprofile-title-box{
    text-align: center;
}
.userprofile-title-box h2{
    font-size: 33px;
    letter-spacing: 1px;
}