@use "../../Settings/scss/functions.scss";
@use "../../Settings/scss/variebles.scss";
.swiper-tovars-box{
    margin-top: 2rem;
    padding: 1rem;
}
.swiper-tovar-header, .tovar-header{
    @include functions.flex(flex-end);
    width: 100%;
}
.tovar-card{
    padding: 1rem;
    border-radius: 10px;
    width: 100%;   
    border: 1px solid variebles.$border;
    min-height: 350px;
    @include functions.flex(space-between);
    flex-direction: column;
}
.tovar-card:not(:last-child), .tovar-card:not(:nth-child(4)){
    margin-right:  30px !important;    
}
.tovar-card .tovar-shopping-box{
    @include functions.flex(space-between);
}
.tovar-card .tovar-body h4{
    // letter-spacing: 1px;
    line-height: 25px;
    font-weight: 100;
    font-size: 14px;
}
.swiper-title-box h4{
    font-size: 25px;
    padding: 1rem;
}